.DropdownMenu {
  position: absolute;
  right: 1%;
  max-width: 40%;
  width: 30%;
  padding: 1rem 0.5rem;
  background: rgba(0, 0, 0, 0.803);
}


.DropdownMenu p {
    transition: .3s;
    /* border: 2px solid red; */
    width: 100%;
}

.DropdownMenu p:hover {
  color: var(--bg-secondary);
  transform:translateX(.5rem);
}
