.Home::before {
  content: "";
  background: url("../../assets/IN-en-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: brightness(0.3);
}

.container {
  display: flex;
}

.left {
  width: 55%;
  margin: 2rem;
  opacity: .9;
  filter: brightness(1);
  box-shadow: 0 0 15px 0  #e7e7e7;
}

.right {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  margin-right: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* border: 2px solid red; */
  height: inherit;
}

.right button{
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
  .container {
    padding: 0 0.2rem;
  }
}
