.signin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url("../../assets/movies-thor-chris-hemsworth-black-background-wallpaper-preview.jpg")
    no-repeat center center/cover;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.container {
  border: 2px solid white;
  width: 30%;
  height: 70vh;
  border-radius: 10px;
}

.heading {
  width: 100%;
  height: 15vh;
  background-color: rgba(100, 100, 100, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.form input::placeholder {
  color: antiquewhite;
}

.form input {
  width: 90%;
  padding: 0.2rem;
  background: none;
  border: 1px solid antiquewhite;
  outline: none;
  color: aliceblue;
  margin: 0.3rem 0;
  padding: 0.2rem 0.5rem;
  opacity: 0.5;
}
.form input:focus {
  opacity: 1;
}

.form button {
  margin-top: 1rem;
  width: 80%;
  background-color: transparent;
  border: 2px solid antiquewhite;
}

.form button:focus {
  background-color: brown-;
}

.logo {
  position: absolute;
  bottom: 3%;
  right: 1%;
  color: antiquewhite;
}

@media screen and (max-width: 910px) {
  .container {
    width: 70%;
    height: 500px;
    min-height: 400px;
  }

  .logo {
    font-size: 1rem;
  }


}
